button
  cursor url('../img/hand.png') 7 1, pointer!important

#play-buttons button
  width 65px
  height 65px

  @media screen and (min-width: 576px)
    width 75px
    height 75px

  @media screen and (min-width: 768px)
    width 88px
    height 88px

  @media screen and (min-width: 992px)
    width 100px
    height 100px

#play-buttons button > .icon
  font-size 40px

  @media screen and (min-width: 576px)
    font-size 50px

#game-log
  background #333
  height 200px
  overflow-x hidden
  overflow-y auto
  font-size 14px

#game-log .animate__animated
  -webkit-animation-duration .5s
  -o-animation-duration .5s
  animation-duration .5s

#intro-screen
  top 0
  left 0
